In [1]:
a = 10 
b= 20
a+b

30

In [2]:
def sum1(a,b):
    pass
    print(a+b)

In [3]:
type(sum1(45,45))

90

NoneType

In [4]:
def test2(s,d):
    return(s*d)

In [5]:
test2(4,3)+2

14

In [6]:
def test2(t,n,m):
    return t+n

In [7]:
test2(2,3,45)

5

In [8]:
def test3(n,m):
    return m*10,m*40, m+n

In [9]:
test3(2,4)

(40, 160, 6)

In [10]:
c,x,v = test3(2,4)

In [11]:
c

40

In [12]:
x

160

In [13]:
v

6

In [14]:
c, x, _ = test3(2,4)

In [15]:
c

40

In [16]:
x

160

In [17]:
_

160

In [18]:
_, _,m  = test3(2,4)

In [19]:
_

160

In [20]:
m

6

In [21]:
_

6

In [22]:
_

6

In [23]:
def t():
    print("this is me")

In [24]:
m = t()

this is me

In [25]:
m+ "adfdfd"

TypeError: unsupported operand type(s) for +: 'NoneType' and 'str'

In [ ]:
def p():
    return("this is me ")

In [ ]:
p() + "avinash"

In [ ]:
def test8(n):
    return(n,n*2)

In [ ]:
b =test8([3,34,34,23,23])

In [ ]:
test8(67)

In [ ]:
b[0][1]

In [ ]:
b[1][3]

In [ ]:
b[1]

In [ ]:
b

In [ ]:
def test10(n,m=10):
    return(n+m)

In [ ]:
test10(4,5)

#return type return same type but print funtion return nonetye.

In [ ]:
def boolx(x = True, y = False):
    return x + y

In [ ]:
boolx()

In [ ]:
boolx(False,8)

In [ ]:
boolx(False)

In [ ]:
def travel(bike= True, car = False):
    plan_travel = bike or car
    return bike , car, plan_travel

In [ ]:
travel()

In [ ]:
travel(car = True)

In [ ]:
travel(_,True)

In [28]:
def test11(*arg):
    return arg

In [29]:
test11("avinash","kumar",34,[45,34,2,2,4,46,4])

('avinash', 'kumar', 34, [45, 34, 2, 2, 4, 46, 4])

In [74]:
b = lambda *arg : [i for i in arg]

In [75]:
b([23,23,12],[23,32],[34,23])

[[23, 23, 12], [23, 32], [34, 23]]

In [76]:
b("dfdfdf",343,[34,23,1,2,4],[4,53,2,32,2])

['dfdfdf', 343, [34, 23, 1, 2, 4], [4, 53, 2, 32, 2]]

In [101]:
def test15(*args):
    l = []
    for i in args:
        if type(i) ==list:
            l= l+i
    return(l)

In [102]:
test15([12,2,3,4,4],[3,34,2,4,3],[7,8,89,4])

[12, 2, 3, 4, 4, 3, 34, 2, 4, 3, 7, 8, 89, 4]

In [103]:
test15("avin",[12,2,3,4,4],[3,34,2,4,3])

[12, 2, 3, 4, 4, 3, 34, 2, 4, 3]

In [113]:
def test16(**kwargs):
    return kwargs

In [120]:
test16(name="avin", stack = "pyhton", lang = ["pyhton, ML"])

{'name': 'avin', 'stack': 'pyhton', 'lang': ['pyhton, ML']}

In [ ]:
1.  creat  a function to take a mixed no int, str, create a,list,
  of seperate data type and return multiple.

In [187]:
l,m,n=[],[],[]
def seperate(*arg):
    for i in arg:
        if type(i)== int:
            l.append(i)
        elif type(i)==str:
            m.append(i)
        elif type(i)==float:
            n.append(i)
            
    return l,m,n

In [188]:
seperate("adf","avin",34,34,2312,12,34.23,23,1.3)

([34, 34, 2312, 12, 23], ['adf', 'avin'], [34.23, 1.3])

In [189]:
l

[34, 34, 2312, 12, 23]

In [190]:
m

['adf', 'avin']

In [191]:
n

[34.23, 1.3]

In [ ]:
2.  create a function which will be able to use *args 
    and *kwargs and it will be able to do all the list
    value concatination and return list.

In [197]:
def test_fun(*args,**kwargs):
    l = [i for i in args if type(i)==list]
    d = [i[1] for i in kwargs.items() if type(i[1]==list)]
    return l,d

In [198]:
test_fun([5,4,5,3],[34,23,2,3],45,56,3,4,a=4,c= "avin",b=5,m=[3,45,6])

([[5, 4, 5, 3], [34, 23, 2, 3]], [4, 'avin', 5, [3, 45, 6]])

In [224]:
def test18(**kwargs):
    for i in kwargs.items():
        if type(i[1])== list :
            if "sudh"in i[1]:
                print("i am able to find name in input data")
                print(i[1])
    return kwargs

In [225]:
test18(b=6,c=[24,34,23],d =["avin","sudh",45.34],n = 6+5j)

i am able to find name in input data
['avin', 'sudh', 45.34]

{'b': 6, 'c': [24, 34, 23], 'd': ['avin', 'sudh', 45.34], 'n': (6+5j)}

In [233]:
def func1(*args):
    dt ={}
    for i in args:
        if type(i) in dt:
            dt[type(i)].append(i)
        else:
            dt[type(i)] = [i]
    return dt

In [234]:
func1(1,2,3,[5,56,4,3],"hi","io",6+5j)

{int: [1, 2, 3], list: [[5, 56, 4, 3]], str: ['hi', 'io'], complex: [(6+5j)]}